*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url("https://cdn.dribbble.com/users/1063846/screenshots/9527343/media/c6fdb137bfaa7190e54d48286f13f0b9.png?compress=1&resize=800x600");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

p {
    color: green
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;
    text-align: center;
    text-transform: uppercase;
}

header .logo {
    background-image: url("logo.png");
    width: 10%;
    background-repeat: no-repeat;
}

main .event {
    width: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5em;
}

main .event h1 {
    font-size: 4em;
    text-align: center;
    background: -webkit-linear-gradient(rgb(183, 241, 149), rgb(59, 33, 33));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main .event h4 {
    color: brown;
    text-align: center;
}

.container {
    margin: 2em;
}

.details {
    width: 100%;
    display: flex;
    padding-top: 50%;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
}

.date {
    width: 30%;
    align-self: flex-end;
}

.date h4,
h2 {
    font-size: 2em;
    color: brown;
}

.registration {
    padding: 2em;
    width: 30%;
    align-self: flex-end;
}

.registration ul {
    color: brown;
}

footer h4 {
    text-align: center;
    color: brown;
    font-weight: lighter;
    font-style: italic;
}

@media only screen and (max-width: 1200px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 1em; */
        color: green;
        text-align: center;
        text-transform: uppercase;
    }
    header .logo {
        background-image: url("images/logo.png");
        width: 10%;
        background-repeat: no-repeat;
    }
    main .event {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -15%);
    }
    main .event h1 {
        font-size: 4em;
        color: green;
        text-align: center;
    }
    main .event h4 {
        color: brown;
    }
}

@media only screen and (max-width: 600px) {
    body {
        background-size: contain;
        background-color: rgba(227, 243, 240, 0.575);
    }
    header .logo {
        margin-top: 5em;
        width: 30%;
    }
    main .event {
        width: 80%;
        top: 30%;
    }
    main .event h1 {
        text-transform: uppercase;
        text-align: left;
        font-size: 3.5em;
        padding-bottom: 1em;
    }
    main .event h4 {
        text-align: left;
        line-height: 2em;
    }
    .details {
        flex-wrap: wrap;
        margin-top: 50em;
    }
    .date {
        width: 80%;
        justify-self: center;
    }
    .registration {
        margin-top: 5em;
        padding: 0;
        width: 80%;
        justify-self: center;
    }
}